@import "../../styles/colors";

.header_container {
  height: 50px;
  width: 100%;
  background: $secondary-dark;
}

.title_top_left_h2 {
  padding-left: 15px;
  padding-top: 7px;
}

.button_top_right {
  margin-left: 10px;
}

.button_top_right_wrapper {
  float: right;
  margin-top: 8px;
  margin-right: 15px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  border-top: 1px solid $primary;
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }
}
