@import "./colors";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

//Flexbox
.flex_box_row {
  flex-direction: row;
}
.flex_end {
  justify-content: flex-end;
}
.flex_center {
  justify-content: center;
}
//Positioning

.margin_1vh {
  margin: 1vh;
}

.padding_1vh {
  padding: 1vh;
}

//Text
.text_light {
  color: $primary-light;
}

.ant-card-head-title {
  color: white;
}
